NEXT_PUBLIC_VERIFIER_HTTP_URL=http://localhost:8000
NEXT_PUBLIC_VERIFIER_WS_URL=ws://localhost:8000
NEXT_PUBLIC_FACELANDMARKER_MODEL_URL=https://storage.googleapis.com/mediapipe-models/face_landmarker/face_landmarker/float16/1/face_landmarker.task
NEXT_PUBLIC_MEDIAPIPE_WASM_URL=https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision@latest/wasm
